$input-width: 368px;

$orange: orange;
$polkaPurple: rgb(230, 0, 122);

/* ----- app ----- */
#Scanner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

/* ----- initial loading screen ----- */
#loading-overlay__text {
  font-size: 300%;
  margin: 100px 0 50px 0;
}

#loadingText {
  padding-left: 10px;
  color: $polkaPurple;
}

/* ----- inputs ----- */
#input-container {
  display: flex;
  flex-direction: column;
  width: $input-width;
}

#rpc-button, #fetch-button {
  border-radius: 2px;
  background-color: rgba($polkaPurple, 0.95);
  border: none;

  &:hover {
    background-color: rgba($polkaPurple, 0.75);
    border: none;
  }
}

.query-selector {
  margin-top: 30px;
}

.err-msg {
  color: red;
}

/* ----- progress ----- */
#progress {
  min-width: 588px;
}

#progress-count {
  display: flex;
  margin: 5px 0;
  svg {
    height: 100%;
  }
}

#toolBox {
  display: flex;
  margin-bottom: 10px;
  width: 80%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

/* ----- ant design overwrite ----- */
.ant-row {
  margin-bottom: 0px !important;
}

.anticon-wifi {
  color: #00e66c !important;
}

.anticon-sync,
.anticon-disconnect,
.anticon-wifi {
  margin-right: 6px;
}

/* ----- github badge ----- */
@at-root.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}